/*--------------------------------------------------------------
# Portfolio Details
/* ======= Portfolio Details Section ======= */
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
  height: auto; /* Ensuring the image maintains its aspect ratio */
  margin-bottom: 20px; 
  margin-top: 30px;/* Adding spacing between the image and paragraphs */
}

.portfolio-details .portfolio-info {
  box-shadow: 0px 0 30px rgba(102, 102, 102, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
  margin-bottom: 20px; /* Adding spacing between paragraphs */
}